body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    text-align: center;
    line-height: 50vh;
    margin: 0;


}

button{
    background: grey;
    height: 500px;
    width: 200px;
    font-size: 40px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

button.button1{
    background: black;
}
